/*
border color: #bdc3c7
date color:
h2 color: #2c3e50

font: source sans pro
*/

body {
  border: 25px solid #bdc3c7;
  font-family: "Source Sans Pro";
  margin: 2% 10%;
}

div {
  margin: 5%;
  border-bottom: 2px solid lightgray;
}

time {
  color: #3498db;
  font-size: 25px;
  text-transform: uppercase;
}


h2 {
  color: #2c3e50;
  font-size: 40px;
  font-weight: bolder;
  text-transform: uppercase;
}

p:nth-of-type(1) {
  border-left: 10px solid #bdc3c7;
  padding-left: 5px;
}
